
.about_container{
    color: rgb(198 194 194);
    margin-bottom: 4em;

    min-height: 100vh;
    height: 70vh;
    width: 100%;
    padding: 2em;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.about_item_container{
    /* border: 1px solid rgb(0, 255, 123); */

    margin: auto;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
    height: 400px;
    width: 350px;
    margin-right: 2.5em;

}
.image_container img{
    height: 340px;
    width:340px ;
    border-radius: 50%;
}
.detail_container{
    /* border: 1px solid white; */
    height: 380px;
    width: 500px;
    padding: 1em 1.5em;
    margin-left: 2.5em;
}
.detail_container h1{
    /* color: white; */
    margin: 0.5em 0;
}

.detail_container p{
    /* color: rgba(208, 219, 218, 0.98); */
    color: rgb(240, 235, 235);
    overflow-wrap: break-word;
    font-size: 1.2em;
    font-weight: 500;
    text-align: justify;
}

@media(max-width:1000px){
    .about_container{
        height: 100vh;
        padding: 0
    }
.about_item_container{
    height: 90vh;
}
   .about_item_container{
    flex-direction: column;
    justify-content: center;
   }
   .detail_container h1{
    text-align: center;
   }
   .image_container{
    width: 400px;
    margin:1em 0;
   }
   .detail_container{
    margin: 0;
   }
}

@media(max-width:600px){
    .about_container{
        height: auto;
    }
   
    .about_item_container{
        height: auto;
        padding: 0;
    }
    .image_container{
        width: 250px;
        height: 250px;
    }
.image_container img{
    height: 220px;
    width: 220px;
}
    .detail_container{
        overflow: visible;
        /* width: 100%; */
        /* height: 320px; */
        width: auto;
        height: auto;
    }

    
}

