.skills_container{
    color: white;

    height: 60vh;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

}
.skills_container h2{
    width: 100%;
    
    text-align: center;
    margin-bottom: 1.5em;
}
.skills_item_container{
    width: 70vw;
    height: 50vh;
    margin: auto;
    padding: 0.5em 2em;
    display: grid;
    grid: auto/auto auto auto auto auto auto;
}
.skills_item_container .skil_item{
    margin: 1em 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   
}
.skills_item_container .img_div{
    background: rgb(247, 243, 243);
    height: 120px;
    width: 120px;
    /* border: 2px solid rgb(202, 198, 198); */
    /* border: 2px solid rgb(202, 198, 198); */

    border-radius: 50%;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills_item_container .img_div:hover{
    /* border: 2px solid white; */
    border: 2px solid rgb(30, 26, 26);
}

.skills_item_container div :first-child img{
    /* height: 5em;
    width: 5em; */
    height: 90px;
    width: 90px;
  

}

@media(max-width:1100px){
    .skills_item_container{
 
        grid: auto/auto auto auto auto auto;
    }
}

@media(max-width:950px){
    .skills_item_container{
 
        grid: auto/auto auto auto auto;
    }
}

@media(max-width:800px){
    .skills_item_container{
 
        grid: auto/auto auto auto;
    }
}

@media(max-width:650px){
    .skills_item_container{
 
        grid: auto/auto auto;
    }
}
@media(max-width:450px){
    .skills_item_container{
 
        grid: auto/auto;
    }
}