/* .project_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 140vh;

} */
.project_container{
    color: white;
    /* border: 1px solid red; */
    height: 130vh;
    width: 100%;
    padding: 1rem;
    display: grid;
    grid: auto/auto auto auto;
    justify-content: center;
    align-items: center;
    
}
.project_heading{
    color: white;
    text-align: center;
    margin: 1em 0;
}
.project_item{
    margin: 1em 1.8em;
    height: 470px;
    width: 420px;
    padding: 1em 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.5s scale ease-in;
}
.project_name{
    font-size: 1.3em;
    font-weight: 300;
}
.project_item:hover{
    scale: 1.05;
}

.project_item img{

    width: 100%;
    height: 55%;
}
.project_item p{
    margin: 0.4em 0;
}
.project_item_buttons{
    margin-top: 0.3em;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project_item_buttons a{
    padding: 0.6em 1em;
    color: white;
    border-radius: 7px;
}
.project_item_buttons :first-child{
    /* background: #63b3ed; */
   background: #0b94f6;
   transition: 0.1s ease-in-out;
}
.project_item_buttons :last-child{
    background: rgb(167 192 189 / 53%);
   transition: 0.1s ease-in-out;

}

.project_item_buttons :first-child:hover{
    /* background: #63b3ed; */
   background: #7997ae;
}

.project_item_buttons :last-child:hover{
    background:rgba(119, 132, 131, 0.53) ;
}
@media(max-width:1300px){
    .project_container{
        grid: auto/auto auto;
    }
}
