.project_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 140vh;
    margin-top: 100px;
    margin-bottom: 200px;

}

.project_container h1{
    font-size: 2.5em;

    margin: 1em 0;
    color: white;

}
.project_item_container{
    color: white;
    /* border: 1px solid red; */
    height: 130vh;
    width: 100%;
    padding: 1rem;
    display: grid;
    grid: auto/auto auto auto;
    justify-content: center;
    align-items: center;
    
}

.project_item{

    margin: 1em 1.8em;
    height: 530px;
    width: 420px;
    padding: 1em 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(220, 211, 211);
    border-radius: 10px;
    transition: 0.2s scale ease-in-out;
    /* box-shadow: 12px 12px 12px 12px #888888;
     */

     /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */

     box-shadow: rgba(4, 0, 22, 0.19) 0px 20px 30px, rgba(0, 0, 0, 0.23) 0px 16px 16px;
}
.project_name{
    font-size: 1.3em;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.project_item:hover{
    scale: 1.03;

}

.project_item img{

    width: 100%;
    height: 55%;
}

.project_item p{
    text-align: center;
    margin: 0.4em 0;
}
.project_item :nth-child(4){
    text-align: justify;
}
.project_item_buttons{
    margin-top: 0.3em;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project_item_buttons a{
    padding: 0.6em 1em;
    color: white;
    border-radius: 7px;
}
.project_item_buttons :first-child{
    /* background: #63b3ed; */
   background: #0b94f6;
   transition: 0.05s ease-in-out;
}
.project_item_buttons :last-child{
    background: rgb(167 192 189 / 53%);
   transition: 0.05s ease-in-out;

}

.project_item_buttons :first-child:hover{
    /* background: #63b3ed; */
   background: #515d67;
}

.project_item_buttons :last-child:hover{
    /* background: #515d67; */
    background: rgba(92, 105, 105, 0.53);
}
@media(max-width:1400px){
    .project_container{
        height: auto;
    }
    
    .project_item_container{
        height: auto;
        grid: auto/auto auto;
    }
}
@media(max-width:1000px){
    .project_item_container{
        grid: auto/auto;
    }
}

@media(max-width:550px){
    .project_item{
        height: auto;
        width: auto;
    }
    .project_item_buttons{
        /* flex-direction: column; */
        /* width: 80%; */
    }
    .project_item_buttons a{
        margin: 0.5em 0;

    }
    .project_item img{
        height: auto;
    }
}

@media(max-width:500px){
    .project_item_buttons{
        width: 70%;

    }
}

@media(max-width:370px){
    .project_item_buttons{
        flex-direction: column;

    }
}